@font-face {
  font-family: "iconfont"; /* Project id 4080753 */
  src: url('iconfont.woff2?t=1685605106930') format('woff2'),
       url('iconfont.woff?t=1685605106930') format('woff'),
       url('iconfont.ttf?t=1685605106930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yincang:before {
  content: "\e6e6";
}

.icon-xianshi:before {
  content: "\e6e5";
}

.icon-yiwen:before {
  content: "\e6d0";
}

.icon-tuichu:before {
  content: "\e6e3";
}

.icon-mima:before {
  content: "\e6e4";
}

.icon-tupian:before {
  content: "\e6e1";
}

.icon-fanhui:before {
  content: "\e6cc";
}

.icon-zhankai1:before {
  content: "\e6cd";
}

.icon-shanchu:before {
  content: "\e6cb";
}

.icon-jingshi:before {
  content: "\e6c8";
}

.icon-qingkong:before {
  content: "\e6c9";
}

.icon-shuoming:before {
  content: "\e6ca";
}

.icon-guanbi:before {
  content: "\e6c5";
}

.icon-gengduo:before {
  content: "\e6c6";
}

.icon-rili:before {
  content: "\e6c7";
}

.icon-shouqi:before {
  content: "\e6c4";
}

.icon-zhankai:before {
  content: "\e6c1";
}

.icon-sousuo:before {
  content: "\e6bf";
}

.icon-neirongzhongxin:before {
  content: "\e6be";
}

.icon-gerenzhongxin:before {
  content: "\e6bd";
}

.icon-shouye:before {
  content: "\e6bc";
}

